header{
    background-color: #f0eab4;
    color: #71cdf1;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
}

main{
    background-color: #71cdf1
    color:#f0eab4;
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
}

img{
    width: 80px;
    height: 80px;
}